.idea/*
.ipynb_checkpoints/*
__pycache__/*
SpQR/.ipynb_checkpoints/*
SpQR/__pycache__/*
outliers/*
outliers_stru*
wandb/*
lm-evaluation-harness/wandb/*
trash/
lm-evaluation-harness/lm_eval/tasks/__pycache__/*
lm-evaluation-harness/.coveragerc
lm-evaluation-harness/.flake8
lm-evaluation-harness/.github/
lm-evaluation-harness/.ipynb_checkpoints/
lm-evaluation-harness/*.sh
lm-evaluation-harness/lm_eval/datasets/*/__pycache__/
lm-evaluation-harness/lm_eval/*/__pycache__/
lm-evaluation-harness/lm_eval/__pycache__/
lm-evaluation-harness/lm_cache
