include src/spqr/inference_kernels/*.cpp
include src/spqr/inference_kernels/*.cu
include src/spqr/inference_kernels/*.cuh
include src/spqr/inference_kernels/*.cuh
include src/spqr/inference_kernels/*.py
include src/*.py
